<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/styleDetalheProduto.css">

  <title>Área do produto</title>
</head>

<!-- HEADER STARTS -->

<%- include('./partials/header')  %> 
<!-- HEADER ENDS -->
<body>
    <div class="nomeProduto">
      <div>
      <img src="/images/imgprodutos/<%= produto.imagem %> ">
      </div>
      <div class="descricao">
        <h1><%= produto.nome %> </h1>
        <h4> <%= produto.preco %>   </h4>
        <label for="cep">Calcule o frete e prazo de entrega</label>
        <input type="number and sign" placeholder="CEP" required placeholder="CEP" name="cep" id="cep">
        <button type="submit" id="consultar">Consultar</button>
        <button type="submit">Comprar</button>
      </div>
    </div>
  <h4 id="detalhesDoProduto">Detalhes do produto</h4>
  <div class="caracteristicas-do-produto">
    <hr>
    <p>Marca: <%= produto.descricao.marca %> </p>
    <hr>
    <p> Altura: <%= produto.descricao.altura %>  (cm)</p>
    <hr>
    <p> Largura: <%= produto.descricao.largura %>  (cm)</p>
    <hr>
    <p>Peso líquido (kg): <%= produto.descricao.peso %> </p>
    <hr>
    <p>Profundidade do produto: <%= produto.descricao.profundidade %>  (cm)</p>
    <hr>
  </div>
  <h4 id="veja-tambem">Veja também</h4>
  <hr>
  <br>
   <!-- SEÇÃO PRODUTOS STARTS-->
  <section class="produtos1">
   <% produtosRelacionados.forEach(item => { %>
    <section class="produto">
      <img src="/images/imgprodutos/<%= item.imagem %> " width="60%" height="127vh">
      <p class="nome"><%= item.nome %> </p>
      <p><%= item.preco %> </p>
      <button class="botao1">Adicione ao carrinho</button>
    </section>
   <% }) %>
      
  </section>
  <section class="produtos2">
     <!-- SEÇÃO PRODUTOS ENDS-->
<%- include('./partials/footer')  %>      
</body>

</html>