<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/styleDetalheProduto.css">

  <title>Área do produto</title>
</head>

<body>
  <!-- HEADER STARTS -->

  <%- include('./partials/header') %>

  <!-- HEADER ENDS -->

  <!--MAIN START-->

    <main>
    <div id="container-img-descricao">
      <div id="container-img">
        <img src="/images/imgprodutos/<%= produto.imagem %> " alt="">
      </div>

      <div id="container-descricao">

        <div id="description">
          <h2 id="name-product"><%= produto.nome%></h2>
  
          <p id="desconto"><%= produto.desconto %><b>%OFF</b></p>
  
          <p>R$ <span id="price-product"> <%=produto.preco %></span> à vista</p>
  
          <a href="" id="buy-now">COMPRAR</a>

          <form action="">
            <label for="input-cep" id="label-cep">Calcular frete:</label><input id="input-cep" type="text" placeholder="CEP ex:06950-000"><button id="consultar" type="submit">OK</button>
          </form>
        </div>


        <div id="btn-edit-delete">

          <a href="" id="btn-edit">EDITAR PRODUTO</a>

  						<form action="" method="POST" id="form-btn-delete">
  							<button type="submit" id="btn-delete">APAGAR</button>
  						</form>

            </div>  
        
      </div>
    </div>

    <div id="detail">
      <h3 id="detail-title">Detalhes do produto:</h3>
      <hr>
      <div id="info-detail">
        <br>
        <p class="detail-p">Marca:<%= produto.descricao.marca %> </p>
        <br>
        <hr>
        <br>
        <p class="detail-p">Altura:<%= produto.descricao.altura %></p>
        <br>
        <hr>
        <br>
        <p class="detail-p">Largura:<%= produto.descricao.largura %></p>
        <br>
        <hr>
        <br>
        <p class="detail-p">Peso líquido(KG):<%= produto.descricao.peso %></p>
        <br>
      </div>
    </div>
    <!-- SEÇÃO PRODUTOS STARTS-->

    <section id="in-sale">
      
      <% produtosRelacionados.forEach(item => { %>
       
        <div id="card">
          <a id="detail-product" href="/detalhe/<%= item.id %>">
            <figure>
              <img src="/images/imgprodutos/<%= item.imagem %>" alt="">
            </figure>
            <article>
              <p id="p"><%=item.nome%></p>
              <h2 id="price"><strong>R$</strong><%=item.preco %></h2>
              <button id="btn">Adicionar ao Carrinho</button>
            </article>
          </a>
        </div>

      <% }) %>

      
    </section>

    <!-- SEÇÃO PRODUTOS ENDS-->
    </main>
    <!--MAIN END-->

    <!--FOOTER START-->
    <%- include('./partials/footer') %>
    <!--FOOTER END-->

    <script src="/javaScript/hamburger.js"></script>
</body>
</html>