<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página</title>
  <link rel="stylesheet" href="/Users/beatrizvilar/Documents/CONSERTO">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/styleProdutos.css">
  <link rel="stylesheet" href="css/styleprodutos.css">
  <link rel="stylesheet" href="/stylesheets/styleProdutos.css">

</head>

<body>
  <%- include('./partials/header') %>

    <main>

      <div id="return">
        <a class="return-a" href="/">Página inicial </a>
        <span> > </span>
        <a class="return-a" href="/produtos">Todos os produtos</a>
      </div>

      <!-- ABRE PRODUTOS -->
      <section id="in-sale">
      
        <% produtos.forEach(produto => { %>
         
          <div id="card">
            <a id="detail-product" href="/produtos/detalhe/<%= produto.id %>/">
              <figure>
                <img src="/images/imgprodutos/<%= produto.imagem %>" alt="">
              </figure>
              <article>
                <p id="p"><%= produto.nome%></p>
                <p id="desconto"><%= produto.desconto %><b>%OFF</b></p>
                <h2 id="price"><strong>R$</strong><%= produto.preco %></h2>
                <button id="btn">Adicionar ao Carrinho</button>
              </article>
            </a>
          </div>

        <% }) %>
  
        
      </section>
      <!-- FECHA PRODUTOS -->
    </main>

    <%- include('./partials/footer') %>

    <script src="/javaScript/hamburger.js"></script>
</body>

</html>