<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/styleHome.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap" rel="stylesheet">
  <title>Mini Market</title>
</head>
<body>

  <%- include("./partials/header")  %> 
  
  <main>
    <div class="aviso">
           
       <marquee behavior="" direction="">
        <div class="txt">
          <div>
            <img class="caminhao" src="images/img-home/caminhaocopia.png" alt="">
          </div>
          <p>Entregas grátis com compras acima de 100R$</p>
          <div>
            <img class="caminhao" src="images/img-home/caminhao.png" alt="">
          </div>
        </div>
       </marquee>
    
    </div>

    <div class="slideshow-container">

      <div class="mySlides fade">
        <img src="images/img-home/produtos.jpeg" style="width:100%">
      </div>
      <div class="mySlides fade">
        <img src="images/img-home/qualita.jpeg" style="width:100%">
      </div>
      <div class="mySlides fade">
        <img src="images/img-home/budweiser.jpeg" style="width:100%">
      </div>      
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

    <div class="titulo">
      <h1>Ofertas</h1>
    </div>

    <section id="in-sale">
      
        <% produtosEmOferta.forEach(produto => { %>

          <div id="card">
            <a id="detail-product" href="/produtos/detalhe/<%= produto.id %> ">
              <figure>
                <img src="/images/imgprodutos/<%= produto.imagem %> " alt="">
              </figure>
              <article>
                <p id="p"><%= produto.nome %> </p>

                <p id="desconto"><%= produto.desconto %><b>%OFF</b></p>
                <h2 id="price"><strong>R$</strong><%= produto.preco %> </h2>

                <button id="btn">Adicionar ao Carrinho</button>
              </article>
            </a>
          </div>
         
        <% }) %>

    </section>


    <div class="titulo">
      <h1>Mais Visitados</h1>
    </div>

    <section id="in-sale">
      
      <% produtosUltimosVistos.forEach(produto => { %>
       
        <div id="card">
          <a id="detail-product" href="/produtos/detalhe/<%= produto.id  %> ">
            <figure>
              <img src="/images/imgprodutos/<%= produto.imagem %> " alt="">
            </figure>
            <article>
              <p id="p"><%= produto.nome %> </p>
              <h2 id="price"><strong>R$</strong><%= produto.preco %> </h2>
              <button id="btn">Adicionar ao Carrinho</button>
            </article>
          </a>
        </div>

      <% }) %> 

  </section>

    <div class="titulo">
      <h1>Mais comprados</h1>
    </div>

    <section id="in-sale">
      
      <div id="card">
        <a id="detail-product" href="/detalhe/">
          <figure>
            <img src="/images/imgprodutos/" alt="">
          </figure>
          <article>
            <p id="p">item.nome</p>
            <h2 id="price"><strong>R$</strong>item.preco</h2>
            <button id="btn">Adicionar ao Carrinho</button>
          </article>
        </a>
      </div>

  </section>
 
  </main>
  
  <%- include("./partials/footer")  %> 

  <script src="/javaScript/hamburger.js"></script>
  <script src="/javaScript/carousel.js"></script>
</body>
</html>
